   <!-- Footer Start -->
   <footer id="rs-footer" class="bg3 rs-footer">
    <div class="container">
        <!-- Footer Address -->
        <div>
            <div class="row footer-contact-desc" id="footerContact">
                <div class="col-md-4">
                    <div class="contact-inner">
                        <i class="fa fa-map-marker"></i>
                        <h4 class="contact-title">Address</h4>
                        <p class="contact-desc">
                            St. Michael's School Punawali Road, <br>Raksha, Jhansi (U.P.) 284419                           
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-inner">
                        <i class="fa fa-phone"></i>
                        <h4 class="contact-title">Phone Number</h4>
                        <p class="contact-desc">
                            +91-706 812 1734
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-inner">
                        <i class="fa fa-map-marker"></i>
                        <h4 class="contact-title">Email Address</h4>
                        <p class="contact-desc">
                            stmichaelsschoolraksa01&commat;gmail.com                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <div class="about-widget">
                        <h3 class="text-white">St. Michael's School</h3>
                        <p>
                            St. Michael's School is a Minority institution co-educational 
                            English Medium School. This institution was established in the
                             year 2012 by the Roman Catholic Diocese of Jhansi, to cater 
                             primarily to the education of all the communities irrespective of caste..
                        </p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12">
                    <h5 class="footer-title">OUR SITEMAP</h5>
                    <ul class="sitemap-widget">
                        <li><a routerLink="history">About Us</a></li>                       
                        <li><a routerLink="principal-desk">Principal-Desk</a></li>                       
                        <li><a routerLink="faculty">Our Faculty</a></li>
                        <li><a routerLink="#" download="Diary">Download Diary</a></li>                                                
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12">
                    <h5 class="footer-title">Navigation</h5>
                    <ul class="sitemap-widget">
                        <li><a routerLink="admission">Online Addmission</a></li>
                        <li><a routerLink="photo-gallery">Gallery</a></li>
                        <li><a routerLink="video">Video Gallery</a></li>
                        <li><a routerLink="contact" >Contact Us</a></li>
                        <li><a [href]="rootUrl+'admin'" target="_blank">Admin Panel</a></li>                       
                    </ul>
                </div>

                <div class="col-lg-4 col-md-12">
                    <h5 class="footer-title">Social Connect</h5>
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=118383008833464" width="100%" height="300px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>  
                </div>
            </div>
        </div>
    </div>  
    <div class="footer-bottom">
        <div class="container">
            <div class="copyright">
                <p>© 2025 <a href="#" class="text-theme-colored2">St. Michael's School</a>. All Rights Reserved. || Designed By : <a href="#" class="text-theme-colored2" target="_blank">SCI</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->
<!-- start scrollUp  -->
<div id="scrollUp">
    <i class="fa fa-angle-up"></i>
</div>
