<h2 class="page-heading">Video Master<hr /></h2>
<div class="page-box">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Add Video
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5 form-group">
                            <label>Upload Video <span class="text-danger">*</span></label>
                            <div class="flex">
                                <input type="text" #videoCode class="form-control" />
                                <button class="btn-flat btn-success" id="btnSave" (click)="Save(videoCode.value)" style="margin-left: 10px;height: 30px;width:15%;">Upload</button>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="flex">
                                <h4 class="text-center ws-title pull-left text-danger" style="width:70%;">Video Record</h4>
                                <input type="text" class="form-control pull-right" style="width:24%;" placeholder="Search...." id="txtSearch" />
                            </div>
                            <div class="scroll">
                                <table class="table table-bordered" id="tblVideo">
                                    <thead>
                                        <tr>
                                            <th style="width:1%;">SR.No.</th>
                                            <th>Video</th>
                                            <th>Date</th>
                                            <th style="width:8%;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let val of VideoInfo;let i=index">
                                            <td>{{i+1}}</td>
                                            <td><iframe [src]="getUrl(val.Video)"></iframe></td>
                                            <td>{{val.cr_date.substring(0,10)}}</td>
                                            <td><button (click)="DeleteVideo(val.AutoId )" class="btn btn-danger btn-xs"><i class='fa fa-trash'></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
