<div class="rs-breadcrumbs bg7 breadcrumbs-overlay">
    <div class="breadcrumbs-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="page-title">Offline Addmission</h1>
                    <ul>
                        <li>
                            <a class="active" routerLink="/">Home</a>
                        </li>
                        <li>Offline Addmission</li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- .breadcrumbs-inner end -->
</div>
<!-- Divider: Contact -->
<div class="contact-page-section sec-spacer">
    <div class="container">
        <div class="row pt-30">
            <div class="col-md-12">
              
            </div>             
        </div>
    </div>
</div>
