<div class="rs-breadcrumbs bg7 breadcrumbs-overlay">
    <div class="breadcrumbs-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="page-title">Principal Desk</h1>
                    <ul>
                        <li>
                            <a class="active" routerLink="/">Home</a>
                        </li>
                        <li>Principal Desk</li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- .breadcrumbs-inner end -->
</div>
<div class="rs-history sec-spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 rs-vertical-bottom mobile-mb-50">
                <a href="#">
                    <img src="../../assets/img/Principal.jpeg" alt="History Image" />
                </a>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="abt-title">
                    <h2>Desk of Principal </h2>
                </div>
                <div class="about-desc">
                    <p>
                        As I walk down the corridors of the school every day, I hear the excited minds of 
                        the most energetic kids that I have come across, I see them every day trying to 
                        find their calling, trying to become something, trying to find their way in this
                        world. That makes me realize that we are all here to make a difference to their
                        world to be. We value individualism, creativity and innovation and strive to 
                        nurture these traits in our students. Our motto is “Dream. Believe and Achieve.<br>

                        ” We aim to teach our students to follow their dreams. Our aim is not just to impart 
                        knowledge to the students, but also teach them that the passion, persistence and hard
                        work are the core of success.  We teach our students that honesty, self -reliance and
                        confidence are the pillars of a personality. <br>

                        I am always excited and look forward to working with our students, staff and parents to 
                        make St. Michael's School the best school .  My commitment to our community is to lead the
                        school with enthusiasm and  passion to enable is to reach our goals.  
                      <b class="pull-right">Fr. Ambrose .M <br>(Principal)</b>                                      
                    </p>                   
                  
                </div>

            </div>
        </div>
    </div>
</div>
