
<div class="rs-breadcrumbs bg7 breadcrumbs-overlay">
    <div class="breadcrumbs-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="page-title">Brief History</h1>
                    <ul>
                        <li>
                            <a class="active" routerLink="/">Home</a>
                        </li>
                        <li>Brief History</li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- .breadcrumbs-inner end -->
</div>
<div class="rs-history sec-spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 rs-vertical-bottom mobile-mb-50">
                <a href="#">
                    <img src="../../assets/img/college.jpeg" alt="History Image" />
                </a>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="abt-title">
                    <h2>OUR HISTORY</h2>
                </div>
                <div class="about-desc">
                    <p>
                        <b>St. Michael's School</b> is a Minority institution co-educational English Medium School.
                         This institution was established in the year 2012 by the Roman Catholic Diocese of Jhansi,
                          to cater primarily to the education of all the communities irrespective of caste,<br><br>
                           creed or religion. The school is owned, and managed by the Roman Catholic Diocese
                            of Jhansi. Rt. Rev. Peter Parapullil the Bishop of Jhansi is the patron & the 
                            President of all our Educational Instituions.                                         
                    </p>                   
                </div>

            </div>
        </div>
    </div>
</div>