<div class="rs-breadcrumbs bg7 breadcrumbs-overlay">
    <div class="breadcrumbs-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="page-title">From Principal Desk</h1>
                    <ul>
                        <li>
                            <a class="active" routerLink="/">Home</a>
                        </li>
                        <li>From Principal Desk</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="rs-history sec-spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 rs-vertical-bottom mobile-mb-50">
                <a href="#">
                    <img src="../../assets/logo/principalDesk.png" alt="History Image" />
                </a>
            </div>
            <!-- <div class="col-lg-6 col-md-12">
                <div class="abt-title">
                    <h2>From Principal Desk</h2>
                </div>
                <div class="about-desc">
                    <p>
                        St. Michael's School is the pioneer College and well known name for
                        Health care and Paramedical Education St. Michael's School established
                         2009 under Reg.
                         His Proffession is very much guidable for this College.
                        The president has story desire to provide education to common man for upliftment &
                        he is keen to enhance education and developing similar standards.
                    </p>
                    <h4>Vision</h4>
                    <p>
                        Societies main vision to provide motivated skilled intellectual and technically
                        competent manpower catering globally to the need of the Industry and service to society.
                        College provide with highly qualified, well trained staff, well equipped, laboratories,Rich Library,
                        Job security by campus selection, Hostel facility and any other facility.
                    </p>

                </div>

            </div> -->
        </div>
    </div>
</div>

