<div class="rs-breadcrumbs bg7 breadcrumbs-overlay">
    <div class="breadcrumbs-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="page-title">Our Events</h1>
                    <ul>
                        <li>
                            <a class="active" routerLink="/">Home</a>
                        </li>
                        <li>Our Events</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Gallery Start -->
<div class="rs-gallery sec-spacer">
    <div class="container">
        <div class="row SiteGallery">       
            <div  *ngFor="let photo of EventInfo"  class="col-lg-3 col-md-3 col-6">
                <div class="gallery">
                    <img data-target="#ModalTopper" data-toggle="modal" (click)="route.navigateByUrl('photo-gallery?id='+photo.EventName)" class="img-fullwidth" src="{{baseUrl+'/UploadFile/Gallery/'+photo.photo}}" style="width:100%;height: 200px;">
                    <div class="image-overlay"></div>      
                    <h3 style="background: #ff1100;text-transform: uppercase;">{{photo.EventName}}
                    </h3>             
                </div>
            </div>           
        </div>
    </div>
</div>
<style>
    .gallery {
        box-shadow: 1px 2px 12px #ccc;
        cursor: pointer !important;
        margin-bottom: 10px;
    }
    </style>
    <div class="modal fade" id="ModalTopper" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content mc">
            <img [src]="IsShowImg"/>
        </div>
    </div>
    </div>