.gallery {
    box-shadow: 1px 2px 12px #ccc;
    cursor: pointer !important;
    margin-bottom: 10px;
    text-align: center;
}

    .gallery h3 {
        padding: 5px;
        color: #fff;
        margin: 0;
        font-size: 16px;
    }

    .gallery img {
        border: 4px double #fff !important;
    }