 <!--Preloader area start here-->
 <!-- <div class="book_preload">
    <div class="book">
        <div class="book__page"></div>
        <div class="book__page"></div>
        <div class="book__page"></div>
    </div>
</div> -->
<!--Preloader area end here-->
<!--Full width header Start-->
<div class="full-width-header">
<!-- Toolbar Start -->
<div class="rs-toolbar">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="rs-toolbar-left">
                    <div class="welcome-message">
                       <span class="text-white" href="#"><b>Reg. No : 515/1989-90 || UDISE Code : 09360106221</b></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="rs-toolbar-right">
                    <div class="toolbar-share-icon">
                        <ul>
                            <li><a href="https://www.facebook.com/nlpdprofessional.in/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/nlpdinstitute" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/u/0/106925075122710271765" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="http://oceanpublicschool.com/admin" target="_blank"><i class="fa fa-user">&nbsp;</i>Admin Login</a></li>
                        </ul>
                    </div>                       
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Toolbar End -->
<!--Header Start-->
<header id="rs-header" class="rs-header">        
        <!-- Header Top Start -->
        <div class="rs-header-top">
            <div class="container">
                <div class="row" style="align-items: center;">
                    <div class="col-md-2 col-sm-12">
                        <div class="header-contact">
                            <div id="info-details" class="widget-text">
                                <i class="glyph-icon flaticon-email"></i>
                                <div class="info-text">
                                    <a href="mailto:stmichaelsschoolraksa01@gmail.com">
                                        <span>Mail Us</span>
                                        stmichaelsschoolraksa01&commat;gmail.com
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="logo-area text-center">
                            <a routerLink="home"><img src="../../../assets/logo/logo.png" alt="logo"></a>                           
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="header-contact pull-right">
                            <div id="phone-details" class="widget-text">
                                <i class="glyph-icon flaticon-phone-call"></i>
                                <div class="info-text">
                                    <a href="tel:7875037041">
                                        <span>Call Us</span>
                                        7068121734
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Top End -->
        <!-- Menu Start -->
        <div class="menu-area menu-sticky">
            <div class=""  style="margin: 0px 0px 0px 55px;">
                <div class="main-menu">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- <div id="logo-sticky" class="text-center">
                                <a href="index.html"><img src="images/logo.png" alt="logo"></a>
                            </div> -->
                            <a class="rs-menu-toggle"><i class="fa fa-bars"></i>Menu</a>
                            <nav class="rs-menu">
                                <ul class="nav-menu">
                                    <li class="active"><a routerLink="home"><i class="fa fa-home text-white"></i>&nbsp;Home</a></li>                                        
                                    <li class="menu-item-has-children">
                                        <a href="#" class="home">About Us&nbsp;<i class="fa fa-angle-down text-white"></i></a>
                                        <ul class="sub-menu">                                            
                                            <li><a routerLink="history">Brief History</a></li>                                                                            
                                            <li><a routerLink="principal-desk">Principal's Desk</a></li>                                                                                  
                                        </ul>
                                    </li>                                                                                                          
                                    <!-- <li><a routerLink="course-fee"><i class="fa fa-graduation-cap text-white"></i>&nbsp;Fee Details</a></li> -->
                                    <li><a routerLink="faculty"><i class="fa fa-home text-white"></i>&nbsp;Our Faculty</a></li>                                        
                                    <li><a routerLink="admission"><i class="fa fa-home text-white"></i>&nbsp;Online Addmission</a></li>                                        
                                    <!-- <li><a routerLink="toppers"><i class="fa fa-wpforms text-white"></i>&nbsp;Our Toppers</a></li>                                     -->
                                    <li><a routerLink="facility"><i class="fa fa-wpforms text-white"></i>&nbsp;Facility</a></li>                                    
                                    <!-- <li><a routerLink="vision-mission"><i class="fa fa-wpforms text-white"></i>&nbsp;Vision-Mission</a></li>                                     -->
                                    <li><a href="../../../assets/logo/Diary.pdf" download="Brochure"><i class="fa fa-download text-white"></i>&nbsp;Download Prospectus</a></li>                                                                                                            
                                    <li><a routerLink="photo-gallery"><i class="fa fa-picture-o text-white"></i>&nbsp;Gallery</a></li>                                                                                                            
                                    <li><a routerLink="video"><i class="fa fa-picture-o text-white"></i>&nbsp;Video</a></li>                                                                                                            
                                    <li><a routerLink="contact"><i class="fa fa-phone text-white"></i>&nbsp;Contact Us</a></li>                                                                                                              
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->
    </header>
    <!--Header End-->
</div>
<div class="col-md-12 notification">
<marquee scrollamount="5" width="100%" onmouseover="this.stop();" onmouseout="this.start();" style="cursor: pointer;">&nbsp;<span class="lblNotification">{{notification}}</span></marquee>
</div>
<!--Full width header End-->

