<script src="../../assets/JsModule/QueryInfo.js"></script>
<div class="rs-breadcrumbs bg7 breadcrumbs-overlay">
    <div class="breadcrumbs-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="page-title">Contact</h1>
                    <ul>
                        <li>
                            <a class="active" routerLink="/">Home</a>
                        </li>
                        <li>Cantact Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- .breadcrumbs-inner end -->
</div>
<!-- Divider: Contact -->
<div class="contact-page-section sec-spacer">
    <div class="container">
        <div class="row pt-30">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 hvr-float-shadow mb-sm-30">
                        <div class="pricing-table style1 bg-lighter border-10px text-center">
                            <div class="contact_info">
                                <h3 class="text-center text-theme-colored">Contact Us</h3>                             
                                <ul class="">
                                    <li>
                                        <i class="fa fa-home"></i>&nbsp;Address -St. Michael's School, Punawali Road, Raksha, Jhansi (U.P.) 0 284419

                                    </li>
                                    <li>
                                        <i class="fa fa-envelope"></i>&nbsp;stmichaelsschoolraksa01&commat;gmail.com
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"></i>&nbsp;+91-706 812 1734                                    
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>          
            <p>&nbsp;</p>      
        <div class="col-md-12">
            <!-- Google Map HTML Codes -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d230043.0883308062!2d78.67706332499998!3d25.723513099999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3977b9842f54285f%3A0x650d41e6bd3c7369!2sPetrol%20Pump%20Moth!5e0!3m2!1sen!2sin!4v1673771090195!5m2!1sen!2sin" width="100%" height="350" frameborder="0" style="border: 0" allowfullscreen></iframe>            
        </div>
        </div>
    </div>
</div>

